{% extends 'document_catalogue/base.html' %}

{% load mptt_tags %}

{% block dc-content %}

    <div class="pull-right">
        {% include 'document_catalogue/include/doc_ordering.html' %}
    </div>
    {% include 'document_catalogue/include/breadcrumb.html' %}

    {% with document_list=category.document_set.all %}
        {% if document_list|length > 0 %}
            <ul class="dc-document-list list-group">
                {% include "document_catalogue/include/documents.html" %}
            </ul>
        {% endif %}
    {% endwith %}

    {% include 'document_catalogue/include/categories.html' with categories=category.get_descendants show_documents=False %}

{% endblock %}
