{% autoescape off %}
You're receiving this e-mail because a password reset request was sent for user account {{  user }} at {{ site_name }}.
{% if user.is_staff %}
CCL staff can choose a new password directly:
{% block reset_link %}
    {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

{% else %}

Please send a password reminder to {{ user.full_name }}:  {{ email }}.

{% endif %}

This is an automated message from {{ site_name }}.
{% endautoescape %}