{% load mptt_tags %}

<ol class="dc-breadcrumb breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    {% for cat in ancestors %}
        <li><a class="dc-category" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
    {% endfor %}
    {% if category.is_leaf_node %}
        <li>
            <span>{{ category }}</span>
        </li>
    {% else %}
        <li class="active dc-descendants-menu">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" type="button" id="dc-descendants-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{{ category.name }}</span>
                    <span class="caret"></span>
                </a>
                <span class="dropdown-menu" aria-labelledby="dc-descendants-menu">
                    {% include 'document_catalogue/include/categories.html' with categories=category.get_descendants show_documents=False %}
                </span>
            </div>
        </li>
    {% endif %}
</ol>