{% if document_list %}
    {% for document in document_list %}
        <li class="dc-document-item list-group-item">
            <a class="dc-document-link" href="{{ document.get_absolute_url }}" title="{{ document.description }}">
                <span class="glyphicon glyphicon-file"></span>
                {{ document.title }}
                <span class="dc-document-actions">
                    {% if user_can_edit_document %}
                        <a class="dc-document-edit" href="{% url 'document_catalogue:document_edit' document.pk %}" title="Edit Document Details">
                            <span class="text-default glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span class="sr-only">Edit</span>
                        </a>
                    {% endif %}
                    <a class="dc-document-download" href="{{ document.file.url }}" title="Download File">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        <span class="sr-only">Download</span>
                    </a>
                </span>
            </a>
        </li>
    {% endfor %}
{% endif %}
