.dc-category-list table {
    width: 100%;
}
.large {
    font-size: 1.5em;
}

.dropzone {
    border: none;
    padding: 0;
    background: #f5f5f5;
}
.dc-dropzone .dz-message {
    font-size: small;
    color: #b0b0b0;
    float: right;
    margin: 0;
}
.dropzone.dz-drag-hover {
    border-style: solid;
    background-color: #f5f5f5;
}

.search {
    position: relative;
    top: -25px;
}
.select2-ajax-search {
    min-width: 300px;
}
