/*.dc-category-list table {*/
/*    width: 100%;*/
/*}*/
.dc-document-download .glyphicon {
    font-size: 1.5em;
}
.dc-document-actions {
    width: 85px;
}

.large {
    font-size: 1.5em;
}

.dc-category-header .\'dc-category-description {
    color: gray;
    margin-left: 4em;
    font-family: serif;
    font-style: italic;
}

.dc-document-ordering.dropdown button.dropdown-toggle,
.dc-descendants-menu .dropdown button.dropdown-toggle {
    background-color: transparent;
    border-color: transparent;
}
.dc-descendants-menu div,
.dc-descendants-menu button {
    display: inline;
}
.dc-descendants-menu .dropdown a.dropdown-toggle {
    color: inherit;
}
.dc-descendants-menu .dropdown a.dropdown-leaf {
    padding-right: 10px;
}

.dropzone {
    border: none;
    text-align: center;
    background: #f5f5f5;
    min-height: 40px;
    margin-bottom: 10px;
}
.dc-dropzone .dz-message {
    font-size: small;
    color: #b0b0b0;
    margin: 0;
}
.dropzone.dz-drag-hover {
    border-style: solid;
    background-color: #f5f5f5;
}

.search {
    position: relative;
    top: -25px;
}
.select2-ajax-search {
    min-width: 300px;
}

.dropdown-menu li a { /* consistent link styling in dropdowns */
    display: block;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

/* CSS for document tree from https://bootsnipp.com/snippets/ypNAe */
.category-tree, .category-tree ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.category-tree ul {
    margin-left: 0.75em;
    position: relative;
}
.category-tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}
.category-tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #369;
    position: relative;
}
.category-tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0;
}
.category-tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}
.category-tree li a {
    text-decoration: none;
}
.category-tree .glyphicon {
    padding: 0 5px;
}